<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div style="margin: 10px;">
  <h1>
    <b>
      Questions
    </b>
  </h1>
  1. Iaas is a better option if you want more control over the load balancing and operating system. An example where iaas would be better is if you wanted direct access to the virtual data center. 
  <br>
  2. A security concern would be the data is on the internet for anyone to hack and its on someone elses computer.
  <br>
  3. Software the is storing data that doesn't need to be accessed anywhere should not be on the cloud. An example would be a banks software holding all the customers data. It only needs to be accessed at the bank.
</div>


</body>
</html>
